<aside class="right-side">                
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{text_menu_collection_manament}}
                    </h1>
                <ol class="breadcrumb">
                    <li><a href="#/"><i class="fa fa-dashboard"></i>{{text_menu_dashboard}}</a></li>
                    <li><a href="#/">{{text_menu_collection_manament}}</a></li>
                    <li class="active">{{edit_collection}}</li>
                </ol>
    </section>
    <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- general form elements -->
                            <span ng-click="btnBack()" style="margin-bottom:20px;" class="btn btn-default">
                                                <i class="glyphicon glyphicon-chevron-left"></i>
                                                <span>{{btn_back}}</span> 
                            </span> 

                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">{{text_information}}</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <form edit-collection role="form">
                                    <div class="box-body">
                                        <div ng-if="message_error" class="alert alert-danger alert-dismissable alert-error">
                                        <i class="fa fa-ban"></i>
                                        <span>{{message_error}}</span>
                                        </div>
                                        <div ng-if="message_success" class="alert alert-success alert-dismissable alert-success">
                                        <i class="fa fa-ban"></i>
                                        <span>{{message_success}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>{{text_name}}</label>
                                            <br />
                                            <label><img src="img/icon/US.png" alt=""></label>
                                            <input ng-model="en_title" type="text" class="form-control" id="title" placeholder="{{text_name}}">
                                        </div>
                                        <div class="form-group">
                                             <label><img src="img/icon/VI.png" alt=""></label>
                                            <input ng-model="vi_title" type="text" class="form-control" id="title" placeholder="{{text_name}}">
                                        </div>
                                        <div class="form-group">
                                        <label>{{text_featured_image}}</label>
                                            <img style="display:block" width="100px" id="blah" src="{{baseUrl}}/{{featuredImage}}" alt="your image" />
                                        </div>
                                        <div class="form-group">
                                        
                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>{{change_image}}...</span> 
                                            <!-- The file input field used as target for the file upload widget -->

                                            <input id="fileupload" type="file" name="files1[]" multiple>
                                        </span>
                                        ( 126px X 612px ) 
                                        </div>
                                        <div class="form-group">

                                        <label>{{text_photo_gallery}}</label>
                                        <br />
                                        ( {{text_click_to_remove}} )
                                        </div>
                                        <div ng-if="check" class="form-group">
                                          
                                            <div style="width:190px;float:left" ng-repeat="item in imageArray">
                                            <img  ng-click="removeUpload(item)"  style="display:block" width="190px;height:300px" src="{{baseUrl}}/{{item}}" alt="your image" />
                                            </div>
                                        </div>
                                        <div style="clear:left" class="form-group">
                                         

                                          <br>
                                            <span class="btn btn-success fileinput-button">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span>{{text_add_photo}}...</span> 
                                                <!-- The file input field used as target for the file upload widget -->

                                                <input id="morefileupload" type="file" name="files2[]" multiple>
                                            </span>
                                            ( 683px X 1024px ) 
                                        </div>
                                        <div class="form-group">
                                            ( {{text_click_to_remove}} )
                                            <div id="more"></div>
                                            <img class="blah2" style="display:none;height:300px" width="200px" id="blah2" src="#" alt="your image" />
                                        </div>
                                        <div class="form-group">
                                            <label>{{text_upload_status}}</label>
                                            <div class="progress sm progress-striped active">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    <span class="sr-only">20% Hoàn Thành</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button ng-click="btnCollectionUpload()" type="submit" class="btn btn-primary">{{text_upload_new_image}}</button>
                                        </div>      
                                    </div><!-- /.box-body -->
                                    <div class="box-footer">
                                        <button ng-click="btnCollectionUpdate()" type="submit" class="btn btn-success">{{btn_save}}</button>
                                        <button ng-click="btnCollectionCancle()" type="submit" class="btn btn-danger">{{btn_cancle}}</button>
                                        
                                    </div>
                                </form>
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
</aside>