<aside class="right-side">                
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            CÀI ĐẶT  
                    </h1>
                <ol class="breadcrumb">
                    <li><a href="#/"><i class="fa fa-dashboard"></i> Trang Chủ</a></li>
                    <li><a href="#/">Cài Đặt</a></li>
                    <li class="active">Trang Chủ</li>
                </ol>
    </section>
    <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Trang Chủ</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <form role="form">
                                    <div class="box-body">
                                        <div style="display:none" class="alert alert-danger alert-dismissable alert-error">
                                        <i class="fa fa-ban"></i>
                                        <span></span>
                                        </div>
                                        <div ng-if="message_success" class="alert alert-success alert-dismissable alert-success">
                                        <i class="fa fa-ban"></i>
                                        <span>{{message_success}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Tiêu đề link thứ nhất</label>
                                            <input ng-model="link_1_title" type="text" class="form-control" id="title" placeholder="Tiêu đề link thứ nhất">
                                        </div>
                                        <div class="form-group">
                                            <label>Tiêu đề nhỏ link thứ nhất</label>
                                            <input ng-model="link_1_small_title" type="text" class="form-control" id="title" placeholder="Tiêu đề nhỏ link thứ nhất">
                                        </div>
                                        <div class="form-group">
                                            <label>Url của link thứ nhất</label>
                                            <input ng-model="link_1_url" type="text" class="form-control" id="title" placeholder="Url của link thứ nhất">
                                        </div>
                                        <div class="form-group">
                                            <label>Tiêu đề link thứ hai</label>
                                            <input  ng-model="link_2_title" type="text" class="form-control" id="title" placeholder="Tiêu đề link thứ hai">
                                        </div>
                                        <div class="form-group">
                                            <label>Tiêu đề nhỏ link thứ hai</label>
                                            <input ng-model="link_2_small_title" type="text" class="form-control" id="title" placeholder="Tiêu đề nhỏ link thứ hai">
                                        </div>
                                        <div class="form-group">
                                            <label>Url của link thứ hai</label>
                                            <input ng-model="link_2_url" type="text" class="form-control" id="title" placeholder="Url của link thứ hai">
                                        </div>
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button ng-click="btnSettingHomeSave()" type="submit" class="btn btn-primary">Lưu</button>
                                        
                                    </div>
                                </form>
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
</aside>