<aside class="right-side">                
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{text_menu_settings_title}}  
                    </h1>
                <ol class="breadcrumb">
                    <li><a href="#/"><i class="fa fa-dashboard"></i>{{text_menu_dashboard}}</a></li>
                    <li><a href="#/">{{text_menu_settings_title}}</a></li>
                    <li class="active">{{text_menu_general}}</li>
                </ol>
    </section>
    <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">{{text_menu_general}}</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <form role="form">
                                    <div class="box-body">
                                        <div style="display:none" class="alert alert-danger alert-dismissable alert-error">
                                        <i class="fa fa-ban"></i>
                                        <span></span>
                                        </div>
                                        <div ng-if="message_success" class="alert alert-success alert-dismissable alert-success">
                                        <i class="fa fa-ban"></i>
                                        <span>{{message_success}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>{{text_site_name}}</label>
                                            <input required ng-model="site_title" type="text" class="form-control" id="title" placeholder="{{text_site_name}}">
                                        </div>
                                        <div class="form-group">
                                            <label>{{text_key_word}}</label>
                                            <input ng-model="key_work" type="text" class="form-control" id="title" placeholder="{{text_key_word}}">
                                        </div>
                                        <div class="form-group">
                                            <label>{{text_description}}</label>
                                            <input ng-model="description" type="text" class="form-control" id="title" placeholder="{{text_description}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Facebook</label>
                                            <input ng-model="facebook" type="text" class="form-control" id="title" placeholder="Facebook">
                                        </div>
                                        <div class="form-group">
                                            <label>Instagram</label>
                                            <input ng-model="instagram" type="text" class="form-control" id="title" placeholder="Instagram">
                                        </div>
                                        <div class="form-group">
                                            <label>Twitter</label>
                                            <input ng-model="twitter" type="text" class="form-control" id="title" placeholder="Twitter">
                                        </div>
                                        <div class="form-group">
                                            <label>Tumblr</label>
                                            <input ng-model="tumblr" type="text" class="form-control" id="title" placeholder="Tumblr">
                                        </div>
                                        <div class="form-group">
                                            <label>{{text_coppy_right}}</label>
                                            <input ng-model="footer" type="text" class="form-control" id="title" placeholder="Tiêu Đề Cuối Trang Chủ">
                                        </div>
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button ng-click="btnSettingPortfolioSave()" type="submit" class="btn btn-primary">{{btn_save}}</button>
                                        
                                    </div>
                                </form>
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
</aside>