*{
	margin: 0px;
	padding: 0px;
}
body
{
@font-family-base :  "Times New Roman", Georgia, Serif;
@font-size-base : 12px;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.cb-slideshow
{
	z-index: 1;
}
header
{
	position: fixed;
	width: 100%;
	color: #fff;
	left: 4%;
	top:4vh;
	z-index: 1000;
}
header h1
{
	font-family: "Times New Roman", Georgia, Serif;
	color: #CFD8DC;
	font-size: 36px;
}
.nav-menu
{
	width: 100%;
	height: 50px;
	margin-top: 1vh;
}
.nav-menu ,ul, li
{
	list-style-type: none;
}
.nav-menu > ul > li
{
	height: 20%;
	float: left;
	margin-right: 1%;
	font-size: 10px;
	text-transform: uppercase;
	padding:1px 2px 1px 2px;
	color: #CFD8DC;
	cursor:default;
}
.nav-menu > ul > li:hover
{
	color: #E53935;
}
.hvr-sweep-to-top a
{
	color: rgb(207, 216, 220);
	background-color: transparent;
	text-decoration: none;
}
.hvr-sweep-to-top a:hover
{
	color: #E53935;
}
article
{
	position: fixed;
	left: 2%;
	width: 94%;
	bottom:10vh;
	text-transform: uppercase;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	z-index: 1000;

}
article .article
{
	width: 100%;
	padding: 1%;
	margin-top: 1vh;
	background-color: transparent;
	cursor: pointer;
}
article .article:hover h1, article .article:hover h4
{
	color: #000;
}
article h1
{
	font-size: 36px;
	font-weight: lighter;
	color: #757575;
	opacity: 0.5;
	background-color: transparent;
}
article h4
{
	color: #FFF;
	font-weight: lighter;
	opacity: 0.5;
	background-color: transparent;
}
.article1
{
	display: block;
}
.article2
{
	z-index: 1000;
	position: absolute;
	top: 20vh;
	left: 4%;
	display: none;
}
.article2 h2
{
	font-size: 24px;
	text-transform: uppercase;
	font-family: "Times New Roman", Georgia, Serif;
	font-weight: lighter;
	color: #CFD8DC;
	opacity: 0.5;
}
.article2 p
{
	width: 50%;
	font-size: 12px;
	font-family: "Times New Roman", Georgia, Serif;
	text-transform: none;
	color: #FFF;
	opacity: 0.5;
	margin-bottom: 20px;
}
.article3
{
	z-index: 1000;
	width: 100%;
	position: absolute;
	top:15vh;
	left: 4%;
	display: none;
}
.article3 .form-contact
{
	width: 40%;
	float: left;
}
.article3 h1
{
	text-transform: uppercase;
	font-size: 36px;
	font-family: "Times New Roman", Georgia, Serif;
	color: #CFD8DC;
	opacity: 0.5;
	font-weight: lighter;
}
.article3 label
{
	color: #CFD8DC;
	opacity: 0.3;
}
.article3 p
{
	width: 90%;
	font-size: 12px;
	font-family: "Times New Roman", Georgia, Serif;
	color: #FFF;
	opacity: 0.5;
}
.article3 input
{
	width: 85%;
	opacity: 0.5;
}
.article3 textarea
{
	height: 15vh;
	width: 87%;
	opacity: 0.5;
}
.article3 #send-message
{
	width: 150px;
	height: 20px;
	border-radius: 5px;
	padding: 2px;
	border: none;
	font-size: 12px;
	text-transform: uppercase;
	background-color: #CFD8DC;
	opacity: 0.5;
	margin-left: 57%;
}
.article3 #send-message:hover
{
	color: #FFF;
	opacity: 0.7;
}
.article3 .content-contact
{
	float: left;
	width: 50%;
	margin-top: 3.5%;
}
.article3 .content-contact h4
{
	color: #CFD8DC;
	opacity: 0.5;
	text-transform: uppercase;
	margin-top: 1%;
}
.article3 .content-contact span
{
	color: #FFF;
	opacity: 0.7;
	font-size: 11px;
}
.collection
{
	z-index: 1000;
	width: 100%;
	height: 80vh;
	position: absolute;
	top: 15vh;
	left: 0%;
	background-color: #9E9E9E;
	opacity: 0.3;
	display: none;
}
.collection-title
{
	width: 20%;
	position: absolute;
	height: 75vh;
	background-color: transparent;
	z-index: 1001;
	top: 17vh;
	display: none;
}
.collection-title h1
{
	font-size: 28px;
	color: #FFF;
	font-family: "Times New Roman", Georgia, Serif;
	font-weight: normal;
	margin-top: 10%;
	margin-left: 0%;
	opacity: 0.7;
}
.collectid
{
	cursor: pointer;
}
.collection-title > ul
{
	margin-left: 15%;
	list-style-type: none;
}
.collection-title span
{
	font-size: 20px;
	color: #000;
	font-weight: normal;
	opacity: 0.5;
	margin-top: 20px;
	font-family: "Times New Roman", Georgia, Serif;
}
.collection-title > ul > li > ul
{
	margin-left: 30%;
	color: #000;
	opacity: 0.5;
}
.collection-title > ul > li > ul > li
{
	font-size: 15px;
}
.list-collection
{
	width: 78%;
	position: absolute;
	left: 21%;
	height: 75vh;
	background-color: transparent;
	z-index: 1001;
	top: 17vh;
	border-left: 1px solid #424242;
	display: none;
}
.list-collection ul
{
	margin-left: 10px;
	margin-top: 10px;
}

.list-collection ul li:hover .view-gallary
{
	visibility: visible;
}

.list-collection ul li
{
	float: left;
	height: 103px;
	cursor: pointer;
}
.list-collection ul li img
{
	filter: none;
	-webkit-filter: grayscale(90%);
	transition: all .2s ease-in-out;
	transform: scale(1);
}
.list-collection ul li img:hover
{
	transform: scale(1);
	-webkit-filter: grayscale(0%);
}
.view-gallary
{
	color: #000;
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	display: block;
	top:6vh;
	width: 103px;
	height: 50px;
	background-color: #E0E0E0;
	opacity: 0.5;
	visibility: hidden;
}
.view-gallary:hover .list-collection > ul > li > img
{
	-webkit-filter: grayscale(0%);
}
.show-collection
{
	width: 100%;
	position: absolute;
	height: 75vh;
	background-color: transparent;
	z-index: 1001;
	top: 15vh;
	display: none;
}
.show-collection .title-content-collection
{
	width: 80%;
	position: absolute;
	left: 20%;
	height: 40px;
	padding-top: 10px;
	background-color: transparent;
	display: inline-block;
}
.show-collection .title-content-collection h1
{
	font-size: 28px;
	color: #FFF;
	font-family: "Times New Roman", Georgia, Serif;
	font-weight: normal;
	opacity: 0.7;
	font-weight: lighter;
}
.show-collection .title-content-collection h1 i
{
	font-size: 15px;
	font-style: normal;
}
.content-collection
{
	width: 78%;
	position: absolute;
	left: 20%;
	height: 72vh;
	background-color: transparent;
	z-index: 1001;
	top: 6vh;
}
.back-to-all
{
	position: absolute;
	width: 120px;
	height: 50px;
	color: #FFF;
	background-color: #000;
	text-transform: uppercase;
	text-align: center;
	font-size: 11px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	top:60vh;
	left: 11%;
	opacity: 0.7;
	cursor: pointer;
}
.back-to-all:hover
{
	opacity: 1;
}
.back-to-all b
{
	font-size: 24px;
	font-weight: lighter;
}
.show-image img
{
	cursor: pointer;
	transition: all .2s ease-in-out;
	transform: scale(1);
}
.show-image img:hover
{
	transform: scale(1.1);
}
.gallery-collection
{
	width: 605px;
	height: 505px;
	background-color: #333;
	position: absolute;
	left: 350px;
	top:0;
}
.gallery-collection ul li
{
	width: 55px;
	float: left;
}
.gallery-collection ul li img
{
	filter: none;
	-webkit-filter: grayscale(90%);
}
footer
{
	width: 100%;
	left: 1%;
	height: 15px;
	position: absolute;
	bottom: 1vh;
	z-index: 1000;
	opacity: 0.5;
}
footer ul, li
{
	list-style-type: none;
}
footer li
{
	height: 11px;
	padding: 2px 10px 2px 10px;
	float: left;
	font-size: 11px;
	color: #FFF;
	border-right:  1px solid #FFF;
}
footer li:nth-child(2)
{
	border-right: none;
}
.social
{
	position: absolute;
	right: 2%;
}
.social li a
{
	cursor: default;
	color: #FFF;
}
.social li a:hover
{
	color: #E53935;
}
.social li:nth-child(2)
{
	border-right: 1px solid #FFF;
}
.social li:nth-child(4)
{
	border-right: none;
}
.lang
{
	position: absolute;
	display: block;
	left: 0%;
	top:-20px;
	color: #FFF;
	font-size: 9px;
}
.lang a
{
	color: #FFF;
	font-size: 9px;
}
.lang a:hover
{
	color: #E53935;
}
.press-title
{
	width: 20%;
	position: absolute;
	height: 75vh;
	background-color: transparent;
	z-index: 1001;
	top: 15vh;
	left: 15%;
	display: none;
}
.press-title h4
{
	font-size: 28px;
	color: #FFF;
	font-family: "Times New Roman", Georgia, Serif;
	font-weight: 400;
	margin-top: 10%;
	margin-left: 0%;
	opacity: 0.7;
	text-transform: uppercase;
}
.list-press
{
	width: 83%;
	position: absolute;
	left: 15%;
	height: 69vh;
	background-color: #424242;
	z-index: 1001;
	top: 24vh;
	border-left: 1px solid #424242;
	display: none;
	opacity: 0.9;
}
.thumb-press
{
	width: 210px;
	height: 135px;
	float:left;
	margin-top: 20px;
}
.press
{
	z-index: 1000;
	width: 100%;
	height: 80vh;
	position: absolute;
	top: 17vh;
	left: 0%;
	background-color: #9E9E9E;
	opacity: 0.3;
	display: none;
}
.hvr-shutter-out-vertical a:hover
{
	text-decoration: none;
}
.class-press
{
	height: 100px;
}
.class-press::-webkit-scrollbar {
	width: 1em;
}

.class-press::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.class-press::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}