<aside class="right-side">                
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{text_menu_product_manament}}
                    </h1>
                <ol class="breadcrumb">
                    <li><a href="#/"><i class="fa fa-dashboard"></i>{{text_menu_dashboard}}</a></li>
                    <li><a href="#/category_list">{{text_menu_product_manament}}</a></li>
                    <li class="active">{{text_menu_create_new}}</li>
                </ol>
    </section>
    <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- general form elements -->
                            <span ng-click="btnBack()" style="margin-bottom:20px;" class="btn btn-default">
                                                <i class="glyphicon glyphicon-chevron-left"></i>
                                                <span>{{btn_back}}</span> 
                            </span> 

                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">{{text_menu_create_new}}</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <form role="form">
                                    <div class="box-body">
                                        <div ng-if="message_error" class="alert alert-danger alert-dismissable alert-create">
                                        <i class="fa fa-ban"></i>
                                        {{message_error}}
                                        </div>
                                        <div class="form-group">
                                            <label>{{text_name}}</label>
                                            <br />
                                            <label><img src="img/icon/US.png" alt=""></label>
                                            <input ng-model="en_title" type="text" class="form-control" id="title" placeholder="{{text_name}}">
                                        </div>
                                        <div class="form-group">
                                        <label><img src="img/icon/VI.png" alt=""></label>
                                            <input ng-model="vi_title" type="text" class="form-control" id="title" placeholder="{{text_name}}">
                                        </div>
                                        <div class="form-group">
                                            <label>{{column_category}}</label>
                                            <select class="form-control" ng-model="category_id">
                                                <option value="{{item.category_id}}" ng-repeat="item in category">{{item.category_name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>{{text_description}}</label>
                                            <br />
                                            <label><img src="img/icon/US.png" alt=""></label>
                                            <textarea ng-model="en_description" class="form-control" rows="10" placeholder="{{text_description}} ..."></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label><img src="img/icon/VI.png" alt=""></label>
                                            <textarea ng-model="vi_description" class="form-control" rows="10" placeholder="{{text_description}} ..."></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>{{text_price}}</label>
                                            <input ng-model="price" type="text" class="form-control" placeholder="{{text_price}}">
                                        </div>
                                        <div class="form-group">
                                            <label>{{text_price_new}}</label>
                                            <input ng-model="price_new" type="text" class="form-control" placeholder="{{text_price_new}}">
                                        </div>
                                        <div class="form-group">
                                         <label>{{text_photo_gallery}}</label>
                                          <br>
                                            <span class="btn btn-success fileinput-button">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span>{{text_add_photo}}...</span> 
                                                <!-- The file input field used as target for the file upload widget -->

                                                <input id="productfileupload" type="file" name="files2[]" multiple>
                                            </span>
                                            ( 683px X 1024px ) 
                                        </div>
                                        <div class="form-group">
                                            ( {{text_click_to_remove}})
                                            <div id="more"></div>
                                            <img style="display:none" width="200px" id="blah2" src="#" alt="your image" />
                                        </div>
                                        <div class="form-group">
                                            <label>{{text_upload_status}}</label>
                                            <div class="progress sm progress-striped active">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    <span class="sr-only">20% Hoàn Thành</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                            <button ng-click="btnProductUpload()" type="submit" class="btn btn-primary">{{text_upload_new_image}}</button>
                                        </div> 
                                        </div>   
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button ng-click="btnCreateProduct()" type="submit" class="btn btn-primary">{{btn_save}}</button>
                                        <button ng-click="btnCancle()" type="submit" class="btn btn-danger">{{btn_cancle}}</button>
                                    </div>
                                </form>
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
</aside>