<aside class="right-side">                
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{text_menu_category_manament}}
                    </h1>
                <ol class="breadcrumb">
                    <li><a href="#/"><i class="fa fa-dashboard"></i>{{text_menu_dashboard}}</a></li>
                    <li><a href="#/">{{text_menu_category_manament}}</a></li>
                    <li class="active">{{text_menu_list_category}}</li>
                </ol>
    </section>
    <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">{{text_menu_list_category}}</h3>
                                </div><!-- /.box-header -->
                                <div my-press  class="box-body">
                                <table class="table table-bordered table-hover">
                                        <tbody>
                                        <tr>
                                            <th style="width:60%">{{comlumn_name}}</th>
                                            <th style="text-align:center;width:20%">{{comlumn_edit}}</th>
                                            <th style="text-align:center;width:20%">{{comlumn_delete}}</th>
                                            </tr>

                                            <tr ng-repeat="item in table">
                                                <td>{{item.category_name}}</td>
                                                <td style="text-align:center"><a href="#/category/{{item.category_id}}"><button class="btn btn-primary btn-sm">{{btn_edit}}</button></</a></td>
                                               <td style="text-align:center"><button ng-click="btnDelete(item.category_id)" class="btn btn-danger btn-sm">{{btn_delete}}</button></td>
                                            </tr>
                                        </tbody>
                                </table>
                                </div>
                            </div><!-- /.box -->
                            
                        </div>
                    </div>

                </section><!-- /.content -->
</aside>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{modal_title}}</h4>
      </div>
      <div class="modal-body">
        <p>{{modal_message_delete_comfirm}} ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{btn_cancle}}</button>
        <button ng-click="deleteSelected()" type="button" class="btn btn-danger">{{btn_delete}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
